{% load static %}
<html lang="ja">

<head>
  {% load static %}
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <link rel="stylesheet" href="{% static 'css/canvas.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <script src="history.js"></script>
</head>

<body>

  <header class="header">

    <div class="header-logo">
      <img src="static/img/totoro_rogo.png" alt="Your Logo" class="logo-image">
    </div>

    <div class="navtext-container">
      <div class="navtext">company</div>
    </div>

    <div class="center-container">
      <div class="button-container">
        <button class="header-button">Button 1</button>
        <button class="header-button">Button 2</button>
        <button class="header-button">Button 3</button>
        <button class="header-button">Button 4</button>
      </div>
    </div>

    <div class="login-container">
      <button class="login-btn" onclick="showLogin()">Login</button>
      <button class="logout-btn">Logout</button>
    </div>
  </header>

  <div class="sidebar sidebar-left">

        <button id="choose-style-button">履歴　　　　　　　　　　　　　　　　　　　　　　　　＞</button>


      <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <div class="prompt">Prompt</div>
        <div class="textarea-container">
            <textarea class="sidebar-textarea" name="prompt" id="prompt" rows="5" cols="30" placeholder="テキストを入力してください"></textarea>
            <button id="save-button"></button>
        </div>
          <div class="prompt">Negativ Prompt</div> <!-- Prompt を追加 -->
            <textarea class="sidebar-textarea" id=Negativ_Prompt rows="5" cols="30" placeholder="テキストを入力してください"></textarea>
            <button id="submit-button" type="submit">送信</button>
      </form>

  </div>

 <div class="content">
    <!-- メインコンテンツ -->
 <ul id="content-list"style="display: none;"></ul>

<div class="image-center">
    <img src="{{ image_name }}">
</div>

    <!-- Canvas要素を追加
     <canvas id="myCanvas" width="800" height="500" ></canvas>
     {% if image_name %}
     <script>
    var imageUrl = "{% static image_url %}";
    </script>
     {% endif %}
    <script src="{% static 'js/canvas.js' %}"></script>

     -->

  </div>

  <div class="sidebar sidebar-right">
    <a href="#">Option 1</a>
    <a href="#">Option 2</a>
    <a href="#">Option 3</a>
    <a href="#">Option 4</a>
  </div>


</body>

</html>