{% load static %}
{% load socialaccount %}
<html lang="ja">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/canvas.css' %}">
</head>

<body>

<header class="header">

    <div class="header-logo">
        <img src="{% static 'img/totoro_rogo.png' %}" alt="Your Logo" class="logo-image">
    </div>

    <div class="navtext-container">
        <div class="navtext">company</div>
    </div>

    <div class="center-container">
        <div class="button-container">


            {% if user.is_authenticated %}

                <a href="{% url 'account_logout' %}">
                    <button class="header-button">ログアウト</button>
                </a>
            {% else %}
                <a href="/auth/google/login/?next=/">
                    <button class="header-button">ログイン</button>
                </a>
            {% endif %}


        </div>
    </div>

</header>


<div class="sidebar sidebar-left">
    {% if user.is_authenticated %}


        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}

            {% if image %}
                <div class="prompt">Prompt</div>
                <textarea class="sidebar-textarea" name="prompt" id="prompt" rows="5" cols="30"
                          placeholder="テキストを入力してください">{{ image.prompt }}</textarea>
                <div class="prompt">Negative_Prompt</div>
                <textarea class="sidebar-textarea" name="negative_prompt" id="negative_prompt" rows="5" cols="30"
                          placeholder="テキストを入力してください">{{ image.negative_prompt }}</textarea>

                <button id="submit-button" type="submit">送信</button>
            {% else %}
                <div class="prompt">Prompt</div>
                <textarea class="sidebar-textarea" name="prompt" id="prompt" rows="5" cols="30"
                          placeholder="テキストを入力してください"></textarea>
                <div class="prompt">Negative_Prompt</div>
                <textarea class="sidebar-textarea" name="negative_prompt" id="negative_prompt" rows="5" cols="30"
                          placeholder="テキストを入力してください"></textarea>

                <button id="submit-button" type="submit">送信</button>
            {% endif %}

        </form>


    {% endif %}
</div>

<div class="content">
    <!-- メインコンテンツ -->
    {% if image_name %}
        <div class="image-center" style="margin-bottom: -20%">
            <img src="{% static image_name %}">
        </div>
        <a href="{% static image_name %}" download="{% static image_name %}">
            <button id="submit-button">ダウンロード</button>
        </a>
    {% endif %}

    {% if image %}
        <div class="image-center" style="margin-bottom: -20%">
            <img src="{% static image.image_path %}">
        </div>
        <a href="{% static image.image_path %}" download="{% static image.image_path %}">
            <button id="submit-button">ダウンロード</button>
        </a>

    {% endif %}


</div>

<div class="sidebar sidebar-right">
    <h3 style="color: white;text-align: center;margin-top: -7%">プロンプト履歴</h3>
    <hr>
    {% if user.is_authenticated %}
        {% for i in Images %}
            <a href="{% url 'image_detail' i.imageID %}">prompt：{{ i.prompt }}<br>negative_prompt{{ i.negative_prompt }}
            </a>
            <hr>
        {% endfor %}
    {% endif %}

</div>


</body>

</html>
